<?xml version="1.0"?>
<!--
/**
 * Canal-web Access :
 * Test URL rewritings
 */
-->
<config>
	<modules>
		<Canalweb_Access>
			<version>1.0.0</version>
		</Canalweb_Access>
    </modules>

    <frontend>
        <routers>
            <access>
                <use>standard</use>
                <args>
                    <module>Canalweb_Access</module>
                    <frontName>access</frontName>
                </args>
            </access>
        </routers>
	</frontend>
</config>
